In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train_ctrUa4K (1).csv to train_ctrUa4K (1).csv

In [ ]:
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['train_ctrUa4K (1).csv']))

In [ ]:
df.drop('Loan_ID',axis = 1,inplace = True)

In [ ]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
df2 = df.copy()

In [ ]:
df2['Property_Area'].value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [ ]:
df3 = pd.concat([pd.get_dummies(df2['Gender']),df2],axis= 1)

In [ ]:
gen_dum = pd.get_dummies(df2['Gender'])
mar_dum = pd.get_dummies(df2['Married'])
edu_dum = pd.get_dummies(df2['Education'])
sel_dum = pd.get_dummies(df2['Self_Employed'])
pro_dum = pd.get_dummies(df2['Property_Area'])

In [ ]:
df4 = pd.concat([gen_dum,mar_dum,edu_dum,sel_dum,pro_dum,df2],axis= 1)

In [ ]:
df4.drop(['Gender','Married','Education','Self_Employed','Property_Area'],axis=1,inplace=True)

In [ ]:
dep_dum = pd.get_dummies(df2['Dependents'])
df5 = pd.concat([dep_dum,df4],axis =1)

In [ ]:
df5.drop(['3+','Male','Yes','Graduate','Urban','Dependents'],axis=1,inplace=True)

In [ ]:
df5.head()

,0,1,2,Female,No,Not Graduate,No,Rural,Semiurban,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,1,0,0,0,1,0,1,0,0,5849,0.0,NaN,360.0,1.0,Y
1,0,1,0,0,0,0,1,1,0,4583,1508.0,128.0,360.0,1.0,N
2,1,0,0,0,0,0,0,0,0,3000,0.0,66.0,360.0,1.0,Y
3,1,0,0,0,0,1,1,0,0,2583,2358.0,120.0,360.0,1.0,Y
4,1,0,0,0,1,0,1,0,0,6000,0.0,141.0,360.0,1.0,Y

In [ ]:
df5['LoanAmount'].fillna(df5['LoanAmount'].mean(),inplace=True)

In [ ]:
df5['Loan_Amount_Term'].fillna(df5['Loan_Amount_Term'].mean(),inplace=True)
df5['Credit_History'].fillna(df5['Credit_History'].mean(),inplace=True)

In [ ]:
df5.head()

,0,1,2,Female,No,Not Graduate,No,Rural,Semiurban,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,1,0,0,0,1,0,1,0,0,5849,0.0,146.412162,360.0,1.0,Y
1,0,1,0,0,0,0,1,1,0,4583,1508.0,128.000000,360.0,1.0,N
2,1,0,0,0,0,0,0,0,0,3000,0.0,66.000000,360.0,1.0,Y
3,1,0,0,0,0,1,1,0,0,2583,2358.0,120.000000,360.0,1.0,Y
4,1,0,0,0,1,0,1,0,0,6000,0.0,141.000000,360.0,1.0,Y

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [ ]:
cols = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']
df5[cols]=scaler.fit_transform(df5[cols])

In [ ]:
df5.head()

,0,1,2,Female,No,Not Graduate,No,Rural,Semiurban,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status
0,1,0,0,0,1,0,1,0,0,0.070489,0.000000,0.198860,0.74359,1.0,Y
1,0,1,0,0,0,0,1,1,0,0.054830,0.036192,0.172214,0.74359,1.0,N
2,1,0,0,0,0,0,0,0,0,0.035250,0.000000,0.082489,0.74359,1.0,Y
3,1,0,0,0,0,1,1,0,0,0.030093,0.056592,0.160637,0.74359,1.0,Y
4,1,0,0,0,1,0,1,0,0,0.072356,0.000000,0.191027,0.74359,1.0,Y

In [ ]:
X = df5.drop('Loan_Status',axis=1)

In [ ]:
X.head()

,0,1,2,Female,No,Not Graduate,No,Rural,Semiurban,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,1,0,0,0,1,0,1,0,0,0.070489,0.000000,0.198860,0.74359,1.0
1,0,1,0,0,0,0,1,1,0,0.054830,0.036192,0.172214,0.74359,1.0
2,1,0,0,0,0,0,0,0,0,0.035250,0.000000,0.082489,0.74359,1.0
3,1,0,0,0,0,1,1,0,0,0.030093,0.056592,0.160637,0.74359,1.0
4,1,0,0,0,1,0,1,0,0,0.072356,0.000000,0.191027,0.74359,1.0

In [ ]:
Y = df5['Loan_Status']

In [ ]:
Y.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: Loan_Status, dtype: object

In [ ]:
Y = pd.get_dummies(Y).drop('N',axis =1)

In [ ]:
Y.head()

   Y
0  1
1  0
2  1
3  1
4  1

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,stratify = Y)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
lr.score(x_test,y_test)

0.7987012987012987

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test_lAUu6dG (1).csv to test_lAUu6dG (1).csv

In [ ]:
test_df = pd.read_csv(io.BytesIO(uploaded['test_lAUu6dG (1).csv']))

In [ ]:
test_df.drop('Loan_ID',axis = 1,inplace = True)
gen_dum = pd.get_dummies(test_df['Gender'])
mar_dum = pd.get_dummies(test_df['Married'])
edu_dum = pd.get_dummies(test_df['Education'])
sel_dum = pd.get_dummies(test_df['Self_Employed'])
pro_dum = pd.get_dummies(test_df['Property_Area'])
test_df2 = pd.concat([gen_dum,mar_dum,edu_dum,sel_dum,pro_dum,test_df],axis= 1)

In [ ]:
test_df2.drop(['Gender','Married','Education','Self_Employed','Property_Area'],axis=1,inplace=True)

In [ ]:
test_df2.head()

,Female,Male,No,Yes,Graduate,Not Graduate,No,Yes,Rural,Semiurban,Urban,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,0,1,0,1,1,0,1,0,0,0,1,0,5720,0,110.0,360.0,1.0
1,0,1,0,1,1,0,1,0,0,0,1,1,3076,1500,126.0,360.0,1.0
2,0,1,0,1,1,0,1,0,0,0,1,2,5000,1800,208.0,360.0,1.0
3,0,1,0,1,1,0,1,0,0,0,1,2,2340,2546,100.0,360.0,NaN
4,0,1,1,0,0,1,1,0,0,0,1,0,3276,0,78.0,360.0,1.0

In [ ]:
dep_dum = pd.get_dummies(test_df['Dependents'])
test_df3 = pd.concat([dep_dum,test_df2],axis =1)

In [ ]:
test_df3.drop(['3+','Male','Yes','Graduate','Urban','Dependents'],axis=1,inplace=True)

In [ ]:
test_df3.head()

,0,1,2,Female,No,Not Graduate,No,Rural,Semiurban,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,1,0,0,0,0,0,1,0,0,5720,0,110.0,360.0,1.0
1,0,1,0,0,0,0,1,0,0,3076,1500,126.0,360.0,1.0
2,0,0,1,0,0,0,1,0,0,5000,1800,208.0,360.0,1.0
3,0,0,1,0,0,0,1,0,0,2340,2546,100.0,360.0,NaN
4,1,0,0,0,1,1,1,0,0,3276,0,78.0,360.0,1.0

In [ ]:
test_df3['LoanAmount'].fillna(test_df3['LoanAmount'].mean(),inplace=True)
test_df3['Loan_Amount_Term'].fillna(test_df3['Loan_Amount_Term'].mean(),inplace=True)
test_df3['Credit_History'].fillna(test_df3['Credit_History'].mean(),inplace=True)

In [ ]:
test_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   0                  367 non-null    uint8
 1   1                  367 non-null    uint8
 2   2                  367 non-null    uint8
 3   Female             367 non-null    uint8
 4   No                 367 non-null    uint8
 5   Not Graduate       367 non-null    uint8
 6   No                 367 non-null    uint8
 7   Rural              367 non-null    uint8
 8   Semiurban          367 non-null    uint8
 9   ApplicantIncome    367 non-null    int64
 10  CoapplicantIncome  367 non-null    int64
 11  LoanAmount         367 non-null    float64
 12  Loan_Amount_Term   367 non-null    float64
 13  Credit_History     367 non-null    float64
dtypes: float64(3), int64(2), uint8(9)
memory usage: 17.7 KB

In [ ]:
scaler1 = MinMaxScaler()
cols = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']
test_df3[cols]=scaler1.fit_transform(test_df3[cols])

In [ ]:
test_df3.head()

,0,1,2,Female,No,Not Graduate,No,Rural,Semiurban,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,1,0,0,0,0,0,1,0,0,0.078865,0.000000,0.157088,0.746835,1.000000
1,0,1,0,0,0,0,1,0,0,0.042411,0.062500,0.187739,0.746835,1.000000
2,0,0,1,0,0,0,1,0,0,0.068938,0.075000,0.344828,0.746835,1.000000
3,0,0,1,0,0,0,1,0,0,0.032263,0.106083,0.137931,0.746835,0.825444
4,1,0,0,0,1,1,1,0,0,0.045168,0.000000,0.095785,0.746835,1.000000

In [ ]:
y = lr.predict(test_df3)

In [ ]:
y[0:10]

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1], dtype=uint8)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive

/content/drive

In [ ]:
import os
os.getcwd()
dir = os.chdir(os.getcwd()+'/MyDrive')

In [ ]:
os.getcwd()

'/content/drive/MyDrive'

In [ ]:
pd.DataFrame(y).to_csv('predictions.csv')

In [ ]:
test_df4 = pd.read_csv(io.BytesIO(uploaded['test_lAUu6dG (1).csv']))
tdf = test_df4['Loan_ID']

In [ ]:
tdf1 = pd.concat([tdf,pd.DataFrame(y,)],axis=1)

In [ ]:
tdf1.head()

    Loan_ID  0
0  LP001015  1
1  LP001022  1
2  LP001031  1
3  LP001035  1
4  LP001051  1

In [ ]:
list(tdf1.columns.values)

['Loan_ID', 0]

In [ ]:
tdf1.rename(columns = {0:'Loan_Status'}, inplace = True)

In [ ]:
list(tdf1.columns.values)

['Loan_ID', 'Loan_Status']

In [ ]:
tdf1['Loan_Status'].value_counts()

1    305
0     62
Name: Loan_Status, dtype: int64

In [ ]:
tdf1['Loan_Status'] = tdf1['Loan_Status'].apply(lambda x:'Y' if x==1 else 'N')

In [ ]:
tdf1['Loan_Status'].value_counts()

Y    305
N     62
Name: Loan_Status, dtype: int64

In [ ]:
pd.DataFrame(tdf1).to_csv('predictions1.csv')

In [ ]:
from sklearn.svm import SVC
svc = SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto',
    kernel='rbf', max_iter=-1, probability=False, random_state=0,
    shrinking=True, tol=0.001, verbose=False)

In [ ]:
svc.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(gamma='auto', random_state=0)

In [ ]:
svc.score(x_test,y_test)

0.7987012987012987

In [ ]:
from sklearn.naive_bayes import GaussianNB
md = GaussianNB()

In [ ]:
md.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [ ]:
md.score(x_test,y_test)

0.8116883116883117

In [ ]:
df.corr()

<ipython-input-107-2f6f6606aa2c>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
ApplicantIncome,1.000000,-0.116605,0.570909,-0.045306,-0.014715
CoapplicantIncome,-0.116605,1.000000,0.188619,-0.059878,-0.002056
LoanAmount,0.570909,0.188619,1.000000,0.039447,-0.008433
Loan_Amount_Term,-0.045306,-0.059878,0.039447,1.000000,0.001470
Credit_History,-0.014715,-0.002056,-0.008433,0.001470,1.000000